<div class="static-text-section">
    <h1 class="page-title">About</h1>

    <ul>
        <li>Which country has the highest proportion of women in parliament?</li>
        <li>Do women vote differently on issues like defence, the environment, or maternity benefits?</li>
        <li>Exactly when did women come into power in different countries, and did their presence change the way the country was run?</li>
    </ul>

    <p>Frustratingly, it’s difficult to provide an answer for these questions, because the objective data just isn’t there.</p>

    <p>The closest thing is data from the <a href="http://www.ipu.org/iss-e/women.htm">Inter-Parliamentary Union</a>, but that can't be used for this kind of in-depth anaylsis.  They simply provide a total for each legislature, rather than data on individual politicians — plus the figures are self-reported, not always up-to-date, and only cover member countries.</p> 

    <p>For advanced insights, you need rich data that can be sliced in multiple ways. So, alongside politicians' gender, you might also compare by age, or party, or voting records, or by many other exciting factors.</p>

    <p>All of which goes some way to explain why we created Gender Balance, an easy game that crowd-sources gender data across every parliament in the world.</p>

    <p>And it's not just a one-off job. Gender Balance will continue to collect data as elections take place and administrations change, so it's always relevant.</p>
</div>

<div class="static-text-section">
    <h2 class="page-title">What will happen to the results?</h2>

    <p>As Gender Balance gathers that gender data, it's all fed back into EveryPolitician, our open data store for information on every legislature in the world. From there it can be downloaded and used by anyone wanting to find answers to those in-depth questions.</p>

    <p>We hope that the data will be useful for researchers, campaigners, politicians, sociologists… and you!</p>
</div>

<div class="static-text-section"><a name="missing"></a>
    <h2 class="page-title">Why isn’t every parliament on Gender Balance?</h2>

    <p>Gender Balance takes its source data from EveryPolitician, where we’ve included the politicians for every legislature we can find information on. If you know where to find data that we haven’t yet included, please do feel <a href="http://docs.everypolitician.org/contribute.html">free to add it</a>.</p>
</div>

<div class="static-text-section">
    <h2 class="page-title">Who built this?</h2>

    <p>Gender Balance was created by developers at <a href="https://mysociety.org">mySociety</a>, using underlying data from <a href="http://everypolitician.org/">EveryPolitician</a>, a database which aims to collect information on every politician in the world.</p>

    <p>Gender Balance exists to discover the gender balance data across every country.</p>

    <p>But Gender Balance also aims to be a showcase of what can be done with the open data from EveryPolitician. That data is free for anyone who wants to build tools like this, and it’s easy to use, too. <a href="http://docs.everypolitician.org/">Find out more about that here</a>.</p>

    <p>If you have any questions about Gender Balance please send an email to <a href="mailto:team@everypolitician.org?subject=Gender Balance">team@everypolitician.org</a>.</p>
</div>
<p style="text-align: center">
    <a class="button button--primary" href="/">Home</a>
</p>
