<% content_for :back_button do %>
    <a class="app-header__back" href="/countries"><i class="fa fa-chevron-left fa--space-after"></i>Countries</a>
<% end %>

<h2 class="page-title">United Kingdom</h2>

<div class="list list--terms">
    <a class="list__item" href="/person">
        <h3>56th Parliament of the United Kingdom</h3>
        <p class="term__date">2015–current</p>
        <div class="progress-bar progress-bar--unhealthy"><div style="width: 30%"></div></div>
    </a>
    <p class="terms__encouragement">
        Complete your first term to unlock terms further in the past
    </p>
    <div class="list__item list__item--disabled">
        <h3>55th Parliament of the United Kingdom</h3>
        <p class="term__date">2010–2015</p>
        <div class="progress-bar progress-bar--unhealthy"><div style="width: 10%"></div></div>
    </div>
    <div class="list__item list__item--disabled">
        <h3>54th Parliament of the United Kingdom</h3>
        <p class="term__date">2005–2010</p>
        <div class="progress-bar progress-bar--dangerous"><div style="width: 4%"></div></div>
    </div>
    <div class="list__item list__item--disabled">
        <h3>53rd Parliament of the United Kingdom</h3>
        <p class="term__date">2001–2005</p>
        <div class="progress-bar progress-bar--dangerous"><div style="width: 1%"></div></div>
    </div>
    <div class="list__item list__item--disabled">
        <h3>52nd Parliament of the United Kingdom</h3>
        <p class="term__date">1997–2001</p>
        <div class="progress-bar progress-bar--dangerous"><div style="width: 0%"></div></div>
    </div>
</div>
