<% content_for :back_button do %>
    <a class="app-header__back" href="/countries"><i class="fa fa-chevron-left"></i></a>
<% end %>

<h2 class="page-title"><%= @country[:country] %></h2>

<% @country.legislatures.each do |legislature| %>

  <% if current_user.next_unfinished_term_for(legislature) %>
    <div class="list list--terms">
        <a class="list__item" href="<%= url "/countries/#{params[:country]}/legislatures/#{legislature.slug}" %>">
            <h3><%= legislature.name %></h3>
        </a>
    </div>
  <% end %>

<% end %>
