<% if flash[:notice] %>
  <div class="alert alert-info" role="alert">
      <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
  </div>
<% end %>
