<div class="mysoc-footer" role="contentinfo">
  <div class="container">
      <div class="row">

          <div class="col-sm-12">
              <h2 class="mysoc-footer__site-name">Gender Balance</h2>
              <div class="mysoc-footer__site-description">
                  <p>Crowdsourcing open, reliable gender data on the world's politicians.Gender Balance contributes data to the <a href="http://everypolitician.org/">EveryPolitician</a> project</p>
              </div>
          </div>

      </div>

      <div class="row">

          <div class="col-sm-6">
              <nav class="mysoc-footer__links">
                  <ul>
                      <li role="presentation"><a href="/about">About Gender Balance</a></li>
                  </ul>
                  <ul>
                      <li role="presentation"><a href="http://everypolitician.org/">EveryPolitician</a></li>
                  </ul>
              </nav>
          </div>

          <div class="col-sm-6">
              <div class="mysoc-footer__donate">
                  <p>Your donations keep this site and others like it running</p>
                  <a href="https://www.mysociety.org/donate?utm_source=gender-balance.org&utm_content=donate+now&utm_medium=link&utm_campaign=mysoc_footer" class="mysoc-footer__donate__button">Donate now</a>
              </div>
          </div>

      </div>
      <hr class="mysoc-footer__divider" role="presentation">
      <div class="row">

          <div class="col-sm-5">
              <div class="mysoc-footer__orgs">
                  <p class="mysoc-footer__org">
                      Built by
                      <a href="https://www.mysociety.org?utm_source=gender-balance.org&utm_content=logo&utm_medium=link&utm_campaign=mysoc_footer" class="mysoc-footer__org__logo mysoc-footer__org__logo--mysociety">mySociety</a>
                  </p>
              </div>
          </div>

          <div class="col-sm-4">
              <div class="mysoc-footer__legal">
                  <p>mySociety Limited is a project of UK Citizens Online Democracy, a registered charity in England and Wales. For full details visit <a href="https://www.mysociety.org?utm_source=gender-balance.org&utm_content=full+legal+details&utm_medium=link&utm_campaign=mysoc_footer">mysociety.org</a>.</p>
              </div>
          </div>

          <div class="col-sm-3">
              <ul class="mysoc-footer__badges">
                  <li role="presentation"><a href="https://github.com/everypolitician/gender-balance" class="mysoc-footer__badge mysoc-footer__badge--github">Github</a></li>
                  <li role="presentation"><a href="https://twitter.com/mysociety" class="mysoc-footer__badge mysoc-footer__badge--twitter">Twitter</a></li>
                  <li role="presentation"><a href="https://facebook.com/mysociety" class="mysoc-footer__badge mysoc-footer__badge--facebook">Facebook</a></li>
              </ul>
          </div>

      </div>
  </div>
</div>
