<% content_for :body_class do %>home-page<% end %>

<div class="home-hero">
    <h1>Politics: A man’s world?</h1>
</div>

<div class="home-primary">
  <% if current_user %>
    <% if current_user.responses.any? %>
        <h2>Welcome back, <%= current_user.name %>!</h2>
    <% else %>
        <h2>Welcome, <%= current_user.name %>!</h2>
    <% end %>
    <p>Let’s sort the women from the boys.</p>
    <ul class="home-loggedin">
      <% if current_user.responses.any? %>
        <li><a class="button button--primary" href="/countries">Continue game</a></li>
      <% else %>
        <li><a class="button button--primary" href="/onboarding">Here’s how</a></li>
      <% end %>
        <li>
            <a style="margin-right: 0.5em" href="<%= url '/about' %>">About</a> &middot;
            <a style="margin-left: 0.5em"  href="<%= url '/logout' %>">Log out</a>
        <li>
    </ul>
  <% else %>
    <p>From Afghanistan to Zimbabwe, there are over 180 parliaments in the world — but what percentage of their members are female?</p>
  <% end %>
</div>

<% unless current_user %>
  <div class="home-secondary">
    <ul class="home-cta">
        <li><a href="/onboarding">Play</a></li><!--
        --><li><a href="/about">About</a></li>
    </ul>
    <div class="home-persuasion">
        <p>The crazy thing is, there’s no definitive figure. Let’s get that changed.</p>
        <p>By playing this simple game, you can help uncover the true gender balance across individual parliaments, and the world.</p>
    </div>
  </div>
<% end %>

<p class="home-attribution">
    Header image: <a href="https://www.flickr.com/photos/uk_parliament/14599371450/">Mark Twain visits Parliament 1907</a>, CC-BY-NC UK Parliament
</p>
