<div class="home-primary__leaderboard">
    <h3>Top players</h3>
    <ul class="home-primary__leaderboard__top-5">
    <% @leaders.take(5).each do |leader| %>
      <li><%= leader[:name].split(/[[:space:]]+/).first %> <span class="leaderboard-score"><%= leader[:count] %></span></li>
    <% end %>
    </ul>
</div>
