<% content_for :body_class do %>person-page onboarding-page<% end %>

<% content_for :back_button do %>
    <a class="app-header__back" href="/"><i class="fa fa-chevron-left"></i></a>
<% end %>

<div class="progress-bar progress-bar--healthy" data-total="12"><div style="width: 0%"></div></div>

<div class="person-cards">
    <ul class="js-cardswipe">
        <li class="person-card person-card--advice person-card--green">
            <h2>First we’re going to show you some famous&nbsp;people.</h2>
            <p>Press the relevant button for each.</p>
            <p class="person-card--advice__hint">(Press any button to start)</p>
            <span class="person__decision person__decision--male js-overlay-male"></span>
            <span class="person__decision person__decision--female js-overlay-female"></span>
            <span class="person__decision person__decision--dontknow js-overlay-dontknow"></span>
        </li>
        <li class="person-card person-card--person">
            <img src="/img/marilyn-monroe.jpg" class="person__picture">
            <h1 class="person__name">Marilyn Monroe</h1>
            <p class="person-card--advice__hint">(Press “Female”)</p>
            <span class="person__decision person__decision--male js-overlay-male"></span>
            <span class="person__decision person__decision--female js-overlay-female"></span>
            <span class="person__decision person__decision--dontknow js-overlay-dontknow"></span>
        </li>
    </ul>
    <div class="level-complete">
        <div class="trophy">
            <img src="/img/winners-trophy.png" width="180" height="240" alt="">
            <div class="trophy__flash"></div>
        </div>
        <h2>Well done!</h2>
        <p>You’re ready to start playing for real, with a country you know&nbsp;well.</p>
        <p><a class="button button--primary" href="<%= url '/countries' %>">Play for real!</a></p>
    </div>
</div>

<ul class="js-extra-cards" style="display: none">
    <li class="person-card person-card--person">
        <img src="/img/arnold-schwarzenegger.jpg" class="person__picture">
        <h1 class="person__name">Arnold Schwarzenegger</h1>
        <span class="person__decision person__decision--male js-overlay-male"></span>
        <span class="person__decision person__decision--female js-overlay-female"></span>
        <span class="person__decision person__decision--dontknow js-overlay-dontknow"></span>
    </li>
    <li class="person-card person-card--advice person-card--grey">
        <p>If you don’t know a person’s gender, you can Skip&nbsp;them.</p>
        <p>Try it now!</p>
        <p class="person-card--advice__hint">(Press “Don’t know” to continue)</p>
        <span class="person__decision person__decision--male js-overlay-male"></span>
        <span class="person__decision person__decision--female js-overlay-female"></span>
        <span class="person__decision person__decision--dontknow js-overlay-dontknow"></span>
    </li>
    <li class="person-card person-card--person">
        <img src="/img/person.png" class="person__picture">
        <h1 class="person__name">Andi Rodgenous</h1>
        <span class="person__decision person__decision--male js-overlay-male"></span>
        <span class="person__decision person__decision--female js-overlay-female"></span>
        <span class="person__decision person__decision--dontknow js-overlay-dontknow"></span>
    </li>
    <li class="person-card person-card--person">
        <img src="/img/martin-luther-king-jr.jpg" class="person__picture">
        <h1 class="person__name">Martin Luther King,&nbsp;Jr.</h1>
        <span class="person__decision person__decision--male js-overlay-male"></span>
        <span class="person__decision person__decision--female js-overlay-female"></span>
        <span class="person__decision person__decision--dontknow js-overlay-dontknow"></span>
    </li>
    <li class="person-card person-card--person">
        <img src="/img/person.png" class="person__picture">
        <h1 class="person__name">Jamie Rodgenous</h1>
        <span class="person__decision person__decision--male js-overlay-male"></span>
        <span class="person__decision person__decision--female js-overlay-female"></span>
        <span class="person__decision person__decision--dontknow js-overlay-dontknow"></span>
    </li>
    <li class="person-card person-card--advice person-card--orange">
        <h2>Awesome!</h2>
        <p>Just remember not to guess based on a person’s name or&nbsp;photo.</p>
        <p>If you don’t know, that’s fine!</p>
        <span class="person__decision person__decision--male js-overlay-male"></span>
        <span class="person__decision person__decision--female js-overlay-female"></span>
        <span class="person__decision person__decision--dontknow js-overlay-dontknow"></span>
    </li>
    <li class="person-card person-card--person">
        <img src="/img/person.png" class="person__picture">
        <h1 class="person__name">Taylor Unknown</h1>
        <span class="person__decision person__decision--male js-overlay-male"></span>
        <span class="person__decision person__decision--female js-overlay-female"></span>
        <span class="person__decision person__decision--dontknow js-overlay-dontknow"></span>
    </li>
    <li class="person-card person-card--advice person-card--blue">
        <h2>Top tip!</h2>
        <p>You can swipe the cards left and right to categorise more&nbsp;quickly.</p>
        <p>Try dragging this card left or&nbsp;right…</p>
        <span class="person__decision person__decision--male js-overlay-male"></span>
        <span class="person__decision person__decision--female js-overlay-female"></span>
        <span class="person__decision person__decision--dontknow js-overlay-dontknow"></span>
    </li>
    <li class="person-card person-card--person">
        <img src="img/abraham-lincoln.jpg" class="person__picture">
        <h1 class="person__name">Abraham Lincoln</h1>
        <span class="person__decision person__decision--male js-overlay-male"></span>
        <span class="person__decision person__decision--female js-overlay-female"></span>
        <span class="person__decision person__decision--dontknow js-overlay-dontknow"></span>
    </li>
    <li class="person-card person-card--person">
        <img src="/img/oprah-winfrey.jpg" class="person__picture">
        <h1 class="person__name">Oprah Winfrey</h1>
        <span class="person__decision person__decision--male js-overlay-male"></span>
        <span class="person__decision person__decision--female js-overlay-female"></span>
        <span class="person__decision person__decision--dontknow js-overlay-dontknow"></span>
    </li>
</ul>

<div class="controls">
    <div class="controls__skip js-choose-dontknow">
        Don’t know
        <div class="js-click-animation"></div>
    </div>
    <div class="controls__male js-choose-male">
        Male
        <div class="js-click-animation"></div>
    </div>
    <div class="controls__female js-choose-female">
        Female
        <div class="js-click-animation"></div>
    </div>
    <div class="controls__other js-choose-other">
        Other
        <div class="js-click-animation"></div>
    </div>
</div>
