<div class="page-nav">
    <a class="page-nav__terms" href="/country"><i class="fa fa-th-list"></i> Terms</a>
    <a class="page-nav__help" href="#">Help <i class="fa fa-question"></i></a>
</div>

<div class="person">
    <img src="http://fillmurray.com/200/200" class="person__picture">
    <h1 class="person__name">Bill Murray</h1>
    <p class="person__party">Groundhog party</p>
</div>

<div class="controls">
    <a class="controls__other" href="#">Other</a>
    <a class="controls__male" href="#">Male</a>
    <a class="controls__female" href="#">Female</a>
    <a class="controls__skip" href="#">Skip</a>
</div>