<% content_for :back_button do %>
    <a class="app-header__back" href="/countries"><i class="fa fa-chevron-left"></i></a>
<% end %>

<h2 class="page-title"><%= @country[:country] %></h2>
<p class="report-actions">
    <a href="#" class="button button--small">Play this country!</a>
    <a href="#" class="button button--small">Download data</a>
</p>

<h3 class="report-legislature">Galactic Senate</h3>

<p>Gender balance by term:</p>

<div class="report-card">
    <div class="report-card__row">
        <div class="report-card__label">
            <h4>41st Sitting</h4>
        </div>
        <div class="report-card__value">
            <div class="progress-bar progress-bar--gendered progress-bar--labelled">
                <div class="progress-bar__males" style="width: 80%">
                    <span class="progress-bar__label">801 men</span>
                </div>
                <div class="progress-bar__females" style="width: 20%">
                    <span class="progress-bar__label">205 women</span>
                </div>
            </div>
        </div>
    </div>
    <div class="report-card__row">
        <div class="report-card__label">
            <h4>40th Sitting</h4>
        </div>
        <div class="report-card__value">
            <div class="progress-bar progress-bar--gendered progress-bar--labelled">
                <div class="progress-bar__males" style="width: 76%">
                    <span class="progress-bar__label">763 men</span>
                </div>
                <div class="progress-bar__females" style="width: 24%">
                    <span class="progress-bar__label">237 women</span>
                </div>
            </div>
        </div>
    </div>
    <div class="report-card__row">
        <div class="report-card__label">
            <h4>39th Sitting</h4>
        </div>
        <div class="report-card__value">
            <div class="progress-bar progress-bar--gendered progress-bar--labelled">
                <div class="progress-bar__males" style="width: 55%">
                    <span class="progress-bar__label">549 men</span>
                </div>
                <div class="progress-bar__females" style="width: 15%">
                    <span class="progress-bar__label">151 women</span>
                </div>
            </div>
        </div>
    </div>
</div>

<p>Gender balance by party, in the <strong>41st Sitting</strong></p>

<div class="report-card">
    <div class="report-card__row">
        <div class="report-card__label">
            <h4>Alliance of Free Planets</h4>
        </div>
        <div class="report-card__value">
            <div class="progress-bar progress-bar--gendered progress-bar--labelled">
                <div class="progress-bar__males" style="width: 55%">
                    <span class="progress-bar__label">216 men</span>
                </div>
                <div class="progress-bar__females" style="width: 45%">
                    <span class="progress-bar__label">172 women</span>
                </div>
            </div>
        </div>
    </div>
    <div class="report-card__row">
        <div class="report-card__label">
            <h4>Confederacy of<br>Independent Systems</h4>
        </div>
        <div class="report-card__value">
            <div class="progress-bar progress-bar--gendered progress-bar--labelled">
                <div class="progress-bar__males" style="width: 79%">
                    <span class="progress-bar__label">180 men</span>
                </div>
                <div class="progress-bar__females" style="width: 21%">
                    <span class="progress-bar__label">55 women</span>
                </div>
            </div>
        </div>
    </div>
    <div class="report-card__row">
        <div class="report-card__label">
            <h4>Trade Federation</h4>
        </div>
        <div class="report-card__value">
            <div class="progress-bar progress-bar--gendered progress-bar--labelled">
                <div class="progress-bar__males" style="width: 91%">
                    <span class="progress-bar__label">91 men</span>
                </div>
                <div class="progress-bar__females" style="width: 9%">
                    <span class="progress-bar__label">9 women</span>
                </div>
            </div>
        </div>
    </div>
    <div class="report-card__row">
        <div class="report-card__label">
            <h4>Others</h4>
        </div>
        <div class="report-card__value">
            <div class="progress-bar progress-bar--gendered progress-bar--labelled">
                <div class="progress-bar__males" style="width: 95%">
                    <span class="progress-bar__label">314 men</span>
                </div>
                <div class="progress-bar__females" style="width: 5%">
                    <span class="progress-bar__label">10 women</span>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="report-legislature">Jedi High Council</h3>

<p>Gender balance by term:</p>

<div class="report-card">
    <div class="report-card__row">
        <div class="report-card__label">
            <h4>44–40 BBY</h4>
        </div>
        <div class="report-card__value">
            <div class="progress-bar progress-bar--gendered progress-bar--labelled">
                <div class="progress-bar__males" style="width: 66%">
                    <span class="progress-bar__label">8 men</span>
                </div>
                <div class="progress-bar__females" style="width: 34%">
                    <span class="progress-bar__label">4 women</span>
                </div>
            </div>
        </div>
    </div>
</div>