.unstyled-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.inline-list {
    margin-bottom: 0;
    margin-left: -0.5em;
    li {
        display: inline-block;
        margin-left: 0.5em;
    }
}

.button {
    display: inline-block;
    border-radius: $border_radius;
    font-weight: bold;
    padding: 0.7em 1em;
    color: $link_color;
    text-decoration: none;
    text-align: center;

    &:hover,
    &:active,
    &:focus {
        color: darken($link_color, 5%);
    }
}

.button--small {
    padding: 0.2em 0.5em;
    font-size: 0.9em;
}

.button--link {
    text-decoration: underline;
    font-weight: inherit;
}

@mixin make_button($background_color, $text_color: inherit, $hover_background_darken_percentage: 5%){
    color: $text_color;
    background-color: $background_color;

    &:hover,
    &:active,
    &:focus {
        color: $text_color;
        background-color: darken($background_color, $hover_background_darken_percentage);
    }
}

.button--primary {
    @include make_button($color_blue, $color_white);
}

.button--secondary {
    @include make_button($color_green, $color_white);
}

.button--tertiary {
    @include make_button($color_orange, $color_white);
}

.button--undo {
    @include make_button($color_grey, $color_white);
}

.button--disabled {
    color: lighten($color_grey, 5%);
    background-color: $color_grey;

    cursor: default !important;

    &:hover,
    &:active,
    &:focus {
        color: lighten($color_grey, 5%);
        background-color: $color_grey;
    }
}

.button__social-icon {
    font-size: 1.2em;
    margin: -0.2em 0.7em -0.2em 0;
    padding: 0.2em 0.7em 0.2em 0;
    border-right: 1px solid rgba(255,255,255,0.3);
    vertical-align: -0.1em;
}

@mixin social_icon($font-awesome-codepoint){
    &:before {
        @extend .#{$fa-css-prefix};
        @extend .button__social-icon;
        content: $font-awesome-codepoint;
        @content;
    }
}

.button--twitter {
    @include make_button($color_twitter, $color_white);
    @include social_icon($fa-var-twitter);
}

.button--facebook {
    @include make_button($color_facebook, $color_white);
    @include social_icon($fa-var-facebook-f);
}

.button--linkedin {
    @include make_button($color_linkedin, $color_white);
    @include social_icon($fa-var-linkedin) {
        padding-top: 0.15em;
        padding-bottom: 0.25em;
        vertical-align: -0.05em;
    }
}

.button--google {
    @include make_button($color_google, $color_white);
    @include social_icon($fa-var-google) {
        padding-top: 0.25em;
        padding-bottom: 0.15em;
        vertical-align: -0.15em;
    }
}

.button--github {
    @include make_button($color_github, $color_white);
    @include social_icon($fa-var-github);
}

.list__item {
    display: block;
    padding: 1em;
    @include remove-margin-from-children();
    background-color: $color_white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    text-decoration: none;

    & + & {
        margin-top: 1em;
    }

    &:hover,
    &:focus {
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        position: relative;
        top: -1px;
        outline: none;
    }

    &:active {
        box-shadow: 0 0 1px rgba(0,0,0,0.3);
        position: relative;
        top: 1px;
    }

    h3 {
        margin-bottom: 0.8em;
    }

    p {
        margin-top: 0;
        color: $color_mid_grey;
    }

    h3 + p {
        margin-top: -0.5em;
    }
}

.list__item--disabled {
    background-color: mix($color_off_white, #fff, 30%);
    color: $color_grey;
    box-shadow: none;
    border: 1px solid darken($color_off_white, 4%);

    &:hover,
    &:focus,
    &:active {
        box-shadow: none;
        position: static;
    }

    p {
        color: inherit;
    }

    .progress-bar {
        background-color: darken($color_off_white, 2%);

        & > * {
            background-color: $color_grey;
        }
    }
}

.progress-bar {
    background-color: $color_off_white;
    height: 0.5em;
    border-radius: 0.5em;

    & > * {
        background-color: $color_green;
        height: 0.5em;
        min-width: 0.5em;
        float: left;
    }

    & > :first-child {
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
    }

    & > :last-child {
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }
}

.progress-bar--unhealthy > * {
    background-color: $color_light_orange;
}

.progress-bar--dangerous > * {
    background-color: $color_red;
}

.progress-bar--gendered {
    & > * {
        // display: none; // empty bars hidden by default, to avoid border showing
    }

    & > * + * {
        border-left: 1px solid $color_off_white;
    }

    .progress-bar__males {
        background-color: $color_orange;
    }

    .progress-bar__females {
        background-color: $color_green;
    }

    .progress-bar__others-dont-knows {
        background-color: $color_grey;
    }
}

.fa--space-after {
    margin-right: 0.5em;
}

.fa--space-before {
    margin-left: 0.5em;
}

.static-text-section {
    margin-bottom: 2em;
    background: #fff;
    padding: 1.5em;

    @include remove-margin-from-children();

    @media (min-width: $screen_medium_min) {
        padding: 2em;
    }
}
