.terms__encouragement {
    text-align: center;
}

.filter-countries {
    margin: 2em 0;
    padding: 1em;
    background-color: $color_orange;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    position: relative;

    label {
        display: block;
        margin-bottom: 0.5em;
        color: inherit;
    }

    input {
        position: relative;
        display: inline-block;
        width: 100%;
        background-color: transparent;
        color: inherit;
        border: none;
        outline: none;
        font-size: 1.5em;
        line-height: 1em;
        padding: 0.2em 0;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        margin-bottom: 1px;
        padding-left: 1.3em; // make room for search icon

        &:focus {
            border-bottom: 2px solid #fff;
            margin-bottom: 0;
        }
    }

    &:before {
        @include fa-icon();
        content: $fa-var-search;
        position: absolute;
        bottom: 1.3em;
        left: 0.8em;
        font-size: 1.3em;
    }
}
