.app-header {
    text-align: center;
    padding: 0.5em;
    background-color: $color_white;
    position: relative;
    border-bottom: 1px solid darken($color_off_white, 4%);

    & > * {
        line-height: 1.1em;
        font-size: 1em;
        margin: 0;
    }

    @media (min-width: $screen_medium_min) {
        background-color: $color_off_white;
        border-bottom: 1px solid $color_light_grey;
        padding: 0 0 1em 0;
    }
}

.app-header__back,
.app-header__undo {
    position: absolute;
    text-decoration: none;
    font-size: 0.9em;
    padding: 0.5em;

    @media (min-width: $screen_medium_min) {
        font-size: 1em;
    }
}

.app-header__back {
    left: 0;
    top: 0;

    @media (min-width: $screen_medium_min) {
        top: -0.5em;
    }

    .fa {
        vertical-align: middle;
    }
}

.app-header__undo {
    cursor: pointer;
    right: 2px;
    top: 2px;

    @media (min-width: $screen_medium_min) {
        right: 0;
        top: -0.5em;
    }
}
