.home-page {
    padding-top: 0;

    .app-header {
        max-width: none;
        padding: 0.5em;
        background-color: $color_white;
        border-bottom: none;
    }

    .app-content {
        max-width: none;
        padding: 0;
        text-align: center;
    }

    .container {
        margin: 0 auto;
        max-width: 800px;
        padding: 0 1em;
    }
}

.home-hero {
    background: #f5a361; // light orange, seamless with the edge of the parliament image

    .container {
        background: transparent url(/img/parliament.jpg) 50% 6% no-repeat;
        background-size: 110%;
        max-width: 800px;
        margin: 0 auto;
        padding: 1.5em 0;

        @media (min-width: $screen_small_min) {
            background-size: cover;
            padding-bottom: 1.5em;
        }
    }

    h1 {
        color: $color_white;
        margin: 2em 0 0 0;
        line-height: 1em;
        text-shadow: 0 1px 10px mix($color_orange, #000, 50%);

        @media (min-width: $screen_small_min) {
            margin-top: 2.5em;
        }
    }
}

.home-context,
.home-primary,
.home-secondary {
    .container {
        padding-top: 1em;
        padding-bottom: 1em;
        max-width: 25em;

        @media (min-height: 600px) {
            padding-top: 1.5em;
            padding-bottom: 1.5em;
        }

        @media (min-height: 800px) {
            padding-top: 2em;
            padding-bottom: 2em;
        }
    }
}

.home-context {
    background-color: $color_white;

    .container {
        @include remove-margin-from-children();
    }
}

.home-primary {
    color: $color_white;
    background-color: $color_green;

    a {
        color: inherit;
    }

    .button--primary {
        @include make_button($color_white, $color_green);
    }

    .played-before {
        font-size: 0.9em;
    }
}

.home-secondary {
    color: $color_white;
    background-color: $color_orange;

    .container {
        @include remove-margin-from-children();
    }

    a {
        color: inherit;
    }

    .button--primary {
        @include make_button($color_white, $color_orange);
    }
}

.home-primary__leaderboard {
    @include clearfix();

    h3 {
        border-bottom: 1px solid mix($color_green, $color_white, 70%);
        padding-bottom: 0.5em;
        margin-bottom: 0.7em;
        line-height: 1em;
    }

    ul {
        @extend .unstyled-list;
        text-align: left;
        float: left;
        width: 45%;
        max-width: 9em;
    }

    li {
        font-size: 0.9em;
    }

    ul + ul {
        float: right;
    }
}

.home-primary__screenshot {
    margin-bottom: -1em;
    margin-top: 2em;

    img {
        vertical-align: middle;
    }

    @media (min-height: 600px) {
        margin-bottom: -1.5em;
    }

    @media (min-height: 800px) {
        margin-bottom: -2em;
    }
}

@media (min-width: $screen_medium_min){
    .home-primary .container {
        max-width: 736px; // 768px - 1em - 1em
        position: relative;
    }

    .home-primary__text {
        padding-left: 340px;
    }

    .home-primary__leaderboard ul {
        min-height: 7em; // avoids weird overlap if there are fewer than 5 leaders
    }

    .home-primary__screenshot {
        position: absolute;
        bottom: 0;
        left: 1em;
        margin-bottom: 0;
    }
}

.screenshot-wrapper {
    background: transparent url(/img/iphone.gif) 0 0 no-repeat;
    padding: 70px 24px 0 24px;
    margin: 0 auto;
    width: 280px;

    img {
        width: 232px;
        height: 330px;
    }
}

.leaderboard-score {
    color: mix($color_green, $color_white, 50%);
    float: right;
}

.home-attribution {
    color: mix($color_grey, $color_mid_grey, 50%);
    font-size: 0.8em;
    margin: 2em 1em;

    a {
        color: inherit;
        text-decoration: underline;
    }
}

.login-page {
    p {
        font-size: 0.9em;
        line-height: 1.5em;
        margin-left: auto;
        margin-right: auto;
        max-width: 30em;
    }
}

.login-buttons {
    @extend .unstyled-list;
    max-width: 20em;
    margin: 1.5em auto 2em;

    @media (min-height: 700px) {
        margin-top: 2.5em;
        margin-bottom: 3em;
    }

    .button {
        display: block;
    }

    li + li {
        margin-top: 1em;
    }
}
