.app-messages {
    position: absolute;
    width: 16em;
    top: 0;
    left: 50%;
    margin-left: -8em;
    transform: translate(0,-120%);
    @include vendor-prefix(transition, transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275));

    .alert {
        padding: 0.7em 1em;
        margin-top: 1em;
        background: $color_light_yellow;
        text-align: center;
        border-radius: $border_radius;
        box-shadow: 0.3em 0.3em 0 rgba(0,0,0,0.05);
    }

    .alert--danger {
        background: $color_light_red;
        color: mix($color_dark_red, #000, 50%);
    }

    &.slide-in {
        transform: translate(0,0);
    }
}