// Most of gender-balance is focussed around "app-like" screens with a
// minimal header and tight gutters. But the rest of the site is made
// from mostly static "page" type pages. These styles are for them.

body.page {
    padding-top: 0;
}

.page-header {
    text-align: center;
    padding: 0.5em 0;
    background-color: $color_white;
    position: relative;

    @media (min-width: $screen_medium_min) {
        padding: 1em 0;
    }

    .container {
        position: relative;
    }

    a, h1 {
        line-height: 1.1em;
        font-size: 1em;
        margin: 0;
    }
}

.page-header__back {
    position: absolute;
    text-decoration: none;
    font-size: 0.9em;
    padding: 0.5em;

    left: 0;
    top: -0.5em; // vertically centre in header

    @media (min-width: $screen_medium_min) {
        font-size: 1em;
        left: 0.5em;
    }

    .fa {
        vertical-align: middle;
    }
}

.page-section {
    padding: 1em 0;

    @media (min-width: $screen_medium_min) and (min-height: 700px) {
        padding: 2em 0;
    }

    .container {
        @include remove-margin-from-children();
    }
}

.page-section--white {
    background-color: $color_white;

    & + & {
        border-top: 1px solid $color_off_white;
    }
}

.page-section--blue {
    background-color: $color_off_white;
}
