body.person-page {
    overflow: hidden;
}

.people {
    position: relative;
    height: 16em;
    text-align: center;

    @media (min-width: $screen_medium_min) {
        padding-top: 1em;
    }

    & > ul {
        @extend .unstyled-list;
    }
}

.person {
    background: $color_white;
    padding: 1em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    @include remove-margin-from-children();

    position: absolute;
    top: 0;
    left: 50%;
    width: 16em;
    margin-left: -8em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover,
    &:focus {
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        @include vendor-prefix('transform', 'translate(0, -1px)')
    }

    &.dragging {
        position: relative;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        @include vendor-prefix('transform', 'rotate(1deg)')
    }

    &:first-child {
        font-size: 0.95em;
        top: 1.1em;
        background-color: mix($color_white, #eee, 50%);
    }

    @media (min-width: $screen_small_min) {
        width: 18em;
        margin-left: -9em;
    }
}

.person__picture {
    border-radius: 100%;
    max-width: 6em;
    height: auto;
}

.person__name {
    margin: 0.4em 0 0 0;
}

.person__party {
    color: $color_mid_grey;
    margin: 0.2em 0 1em 0;
}

.person__decision {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.person__decision--male {
    background-color: rgba($color_blue, 0.3);
}

.person__decision--female {
    background-color: rgba($color_pink, 0.3);
}

.controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    @media (min-width: $screen_medium_min) {
        position: relative;
        height: 12em;
    }
}

.controls__male,
.controls__female,
.controls__other,
.controls__skip {
    display: block;
    color: $color_white;
    text-decoration: none;
    position: absolute;
    left: 50%;

    &:hover,
    &:focus {
        color: $color_white;
    }

    &:focus {
        outline: none;
    }
}

.controls__male,
.controls__female {
    width: 6em;
    line-height: 6em;
    border-radius: 6em;
    background-color: $color_blue;

    bottom: 3em;
    margin-left: -6.5em;

    &:hover,
    &:focus {
        background-color: darken($color_blue, 5%);
    }

    &:active {
        margin-bottom: -0.2em;
    }
}

.controls__female {
    background-color: $color_pink;
    margin-left: 0.5em;

    &:hover,
    &:focus {
        background-color: darken($color_pink, 5%);
    }
}

.controls__other,
.controls__skip {
    width: 4em;
    line-height: 4em;
    border-radius: 4em;
    font-size: 0.8em;
    background-color: $color_grey;

    bottom: 10em;
    margin-left: -2em;

    &:hover,
    &:focus {
        background-color: darken($color_grey, 5%);
    }

    &:active {
        margin-bottom: -0.3em;
    }
}

.controls__skip {
    bottom: 1em;
}

@media (max-height: 530px) {
    .controls__male {
        margin-left: -7.5em;
        bottom: 2em;
    }

    .controls__female {
        margin-left: 1.5em;
        bottom: 2em;
    }

    .controls__other {
        bottom: 7.5em;
    }
}

@media (max-height: 450px) {
    .controls__male {
        margin-left: -8em;
        bottom: 1em;
    }

    .controls__female {
        margin-left: 2em;
        bottom: 1em;
    }

    .controls__other {
        bottom: 5.5em;
    }

    .controls__skip {
        bottom: 0.5em;
    }
}