body.person-page {
    overflow: hidden;
}

.tindr-cards {
    position: relative;
    height: 16em;
    text-align: center;

    @media (min-width: $screen_medium_min) {
        padding-top: 1em;
    }

    & > ul {
        @extend .unstyled-list;
    }
}

.tindr-card {
    background-color: $color_white;
    padding: 1em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);

    position: absolute;
    top: 0;
    left: 50%;
    width: 16em;
    margin-left: -8em;
    height: 13em;

    // Vertically centre the card contents (in modern browsers)
    @include flexbox();
    @include flex-align(center);
    @include flex-justify(center);
    -webkit-box-orient: vertical;
    @include vendor-prefix(flex-direction, column);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover,
    &:focus {
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        @include vendor-prefix('transform', 'translate(0, -1px)')
    }

    &.dragging {
        position: relative;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        @include vendor-prefix('transform', 'rotate(1deg)')
    }

    & > * {
        margin: 0;
    }

    &:first-child {
        font-size: 0.95em;
        top: 1.2em;
        background-color: mix($color_white, #eee, 50%);
    }

    @media (min-width: $screen_small_min) {
        width: 18em;
        margin-left: -9em;
    }
}

.person__picture {
    border-radius: 100%;
    max-height: 4em;
    width: auto;

    & + .person__name {
        margin-top: 0.4em;
    }
}

.person__party {
    color: $color_mid_grey;
    margin-top: 0.2em;
}

.person__decision {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.person__decision--male {
    background-color: rgba($color_blue, 0.3);
}

.person__decision--female {
    background-color: rgba($color_pink, 0.3);
}

@media (min-height: 460px) {
    .tindr-card {
        height: 14em;
    }

    .person__picture {
        max-height: 5em;
    }
}

@media (min-height: 520px) {
    .tindr-card {
        height: 15em;
    }

    .person__picture {
        max-height: 6em;
    }
}

.controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    @media (min-width: $screen_medium_min) {
        position: relative;
        height: 10em;
    }
}

.controls__male,
.controls__female,
.controls__other,
.controls__skip {
    display: block;
    color: $color_white;
    text-decoration: none;
    position: absolute;
    left: 50%;

    &:hover,
    &:focus {
        color: $color_white;
    }

    &:focus {
        outline: none;
    }
}

.controls__male,
.controls__female {
    width: 6em;
    line-height: 6em;
    border-radius: 6em;
    background-color: $color_blue;

    bottom: 1em;
    margin-left: -8em;

    &:hover,
    &:focus {
        background-color: darken($color_blue, 5%);
    }

    &:active {
        margin-bottom: -0.2em;
    }
}

.controls__female {
    background-color: $color_pink;
    margin-left: 2em;

    &:hover,
    &:focus {
        background-color: darken($color_pink, 5%);
    }
}

.controls__other,
.controls__skip {
    width: 4em;
    line-height: 4em;
    border-radius: 4em;
    font-size: 0.8em;
    background-color: $color_grey;

    bottom: 5.5em;
    margin-left: -2em;

    &:hover,
    &:focus {
        background-color: darken($color_grey, 5%);
    }

    &:active {
        margin-bottom: -0.3em;
    }
}

.controls__skip {
    bottom: 0.5em;
}
