.report-card {
  @extend .list__item--disabled;

  display: table;

  & + & {
      margin-top: 1em;
  }

  h4 {
    margin: 0;
    color: $color_mid_grey;
    white-space: nowrap;
  }

  .progress-bar {
    margin-top: 0.4em;
  }
}

.report-card__row {
  display: table-row;
}

.report-card__label,
.report-card__value {
  display: table-cell;
  padding: 1.5em;
  vertical-align: top;

  .report-card__row + .report-card__row & {
    padding-top: 0;
  }
}

.report-card__value {
  width: 100%;
  padding-left: 0;
}

.report-legislature {
  text-align: center;
  margin-top: 3em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid $color_light_grey;

  .page-title + & {
    margin-top: 1em;
  }
}