h1 {
    font-size: 2em;
    line-height: 1.1em;
}

h2 {
    line-height: 1.2em;
}

a {
    color: $link_color;

    &:hover, &:focus {
        text-decoration: none;
    }

    &:active {
        color: darken($link_color, 5%);
    }
}

.page-title {
    text-align: center;
    margin-top: 2em;

    &:first-child {
        margin-top: 0;
    }
}

.list-heading {
    font-size: 1.1em;
    color: $color_dark_grey;
}