$root_font_size: 16px;
$one_pixel_in_root_ems: 1em * (1px / $root_font_size);

$roboto: 'Roboto', "Helvetica Neue", Arial, Helvetica, serif;

$color_blue: #00CBD9;
$color_green: #01BFA9;
$color_red: #F37D7D;
$color_purple: #DC73E6;
$color_white: #FFFFFF;
$color_off_white: #F4F4F4;
$color_lighter_grey: #E9E9E9;
$color_light_grey: #D8D8D8;
$color_grey: #CCCCCC;
$color_mid_grey: #999999;
$color_dark_grey: #666666;
$color_black: #333333;

$color_twitter: #55acee;
$color_facebook: #3b5998;
$color_linkedin: #0077b5;
$color_google: #dd4b39;
$color_github: #666666;

$link_color: $color_red;
$border_color: $color_lighter_grey;

$border_radius: 5px;

$screen_tiny_min: 0em; // eg: phones, 0-399px
$screen_small_min: $one_pixel_in_root_ems * 400; // eg: phablets, 400-767px
$screen_medium_min: $one_pixel_in_root_ems * 768; // eg: tablets and netbooks, 768-1023px
$screen_large_min: $one_pixel_in_root_ems * 1024; // eg: laptops, 1024-1439px
$screen_xlarge_min: $one_pixel_in_root_ems * 1440; // eg: large laptops, 1440-1919px
$screen_huge_min: $one_pixel_in_root_ems * 1920; // eg: desktops, 1990px+

$screen_tiny_max: $screen_small_min - $one_pixel_in_root_ems;
$screen_small_max: $screen_medium_min - $one_pixel_in_root_ems;
$screen_medium_max: $screen_large_min - $one_pixel_in_root_ems;
$screen_large_max: $screen_xlarge_min - $one_pixel_in_root_ems;
$screen_xlarge_max: $screen_huge_min - $one_pixel_in_root_ems;

$high_dpi_screen: '-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi';
