@import 'normalize';
@import 'variables';
@import 'mixins';

@import 'font-awesome';

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    color: $color_black;
    font-family: $roboto;
    font-size: $one_pixel_in_root_ems * 18;
    line-height: $one_pixel_in_root_ems * 24;
    height: 100%;
    min-height: 100%;
    background-color: $color_off_white;
}

.app {
    height: 100%;
}

@media (min-width: $screen_medium_min) {
    body {
        padding-top: 1em;
    }

    .app {
        height: auto;
    }

    .app-header, .app-content {
        max-width: 700px;
        margin: 0 auto;
    }

    @media (min-height: 640px){
        body {
            padding-top: 2em;
        }
    }
}

@import 'typography';
@import 'components';
@import 'header';
@import 'content';
@import 'home';
@import 'messages';
@import 'countries';
@import 'person';
